<div class="container custom-container-2">

  <!-- Show it when there is no employee -->
  <div class="no-data text-center" *ngIf="employees.length == 0">
    <p>There is no employee added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/create-employee">Add Employee</button>
  </div>

  <!-- Employees list table, it hides when there is no employee -->
  <div *ngIf="employees.length !== 0">
    <h3 class="mb-3 text-center">Employees List</h3>
    <div class="m-3">
      <h3>View person info</h3>
      <div class="wrap">
        <div class="search">
          <input type="text" [(ngModel)]="id" class="searchTerm" placeholder="Who are you looking for?">
          <span class="btn btn-primary edit-button" routerLink="/employee-info/{{id}}">Find</span>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Employee Id</th>
            <th scope="col">Salary</th>
            <th scope="col">Manager</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee.employeeId}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.manager}}</td>
            <td class="buttons-row">
              <span class="btn btn-primary edit-button mb-2" routerLink="/employee-edit/{{employee.employeeId}}">Edit</span>
              <span class="btn btn-secondary edit-button view-subordinates-button" routerLink="/employee-subordinates/{{employee.employeeId}}">View Subordinates</span>
              <span class="btn btn-success edit-button view-subordinates-button mt-2" routerLink="/employee-subordinate-create/{{employee.employeeId}}">Add Subordinate</span>

            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
