* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #e97070;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.outline-btn {
    border-radius: 25%;
    border-color: rgb(141, 0, 235) !important;
    background-color: transparent !important;
    color: rgb(0, 199, 235) !important;
}

.outline-btn:hover {
    border-color: rgb(235, 0, 196) !important;
    background-color: #61dafb !important;
    color: white;
}

.background-style {
    background: linear-gradient(rgba(129, 172, 238, 0.7),
    rgba(2, 17, 49, 0.7)),
    url(assets/horsens.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
