.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partOne {
    height: 600px;
    width: 90vw;
}

.partTwo {
    width: 90vw;
}

.partThree {
    width: 90vw;
}

.partFour {
    width: 90vw;
    margin-bottom: 2rem;
}