<div class="container custom-container-2">

  <!-- Show it when there is no employee -->
  <div class="no-data text-center" *ngIf="persons.length == 0">
    <p>There is no person added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/create-employee">Add a person</button>
  </div>

  <!-- Persons list table, it hides when there is no person -->
  <div *ngIf="persons.length !== 0">
    <h3 class="mb-3 text-center">Persons List</h3>
    <div class="m-3">
      <h3>View person info</h3>
      <div class="wrap">
        <div class="search">
          <input type="text" [(ngModel)]="id" class="searchTerm" placeholder="Who are you looking for?">
          <span class="btn btn-primary edit-button" routerLink="/person-info/{{id}}">Find</span>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Salary</th>
            <th scope="col">Employee Id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of persons">
            <td>{{person.id}}</td>
            <td>{{person.name}}</td>
            <td>{{person.employeeId}}</td>
            <td class="buttons-row">
              <span class="btn btn-primary edit-button" routerLink="/person-edit/{{person.id}}">Edit</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
